{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "es5",
    "printWidth": 80,
    "useTabs": false,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "endOfLine": "lf",
    "proseWrap": "preserve",
    "htmlWhitespaceSensitivity": "css",
    "overrides": [
        {
            "files": "*.vue",
            "options": {
                "vueIndentScriptAndStyle": false,
                "htmlWhitespaceSensitivity": "ignore"
            }
        },
        {
            "files": "*.md",
            "options": {
                "proseWrap": "always",
                "printWidth": 120
            }
        },
        {
            "files": ["*.json", "*.jsonc"],
            "options": {
                "singleQuote": false,
                "trailingComma": "none"
            }
        },
        {
            "files": "*.css",
            "options": {
                "singleQuote": false
            }
        },
        {
            "files": ["*.yml", "*.yaml"],
            "options": {
                "singleQuote": false,
                "tabWidth": 4
            }
        }
    ]
}
